.features-split {

	.section-inner {
		padding-top: $features-split--padding-t__mobile;
		padding-bottom: $features-split--padding-b__mobile;
	}

	.section-header {
		padding-bottom: $features-split-header--padding__mobile;
	}

	.info-header {
		font-family: 'Roboto', sans-serif;
		color: #722f37;
	}

	.date-info {
		color: #c53500;
	}

	.info-blurb {
		background: #dd8e6b1f;
		padding: 23px
	}

	.grunge-back {
		background-size: cover;
		background-position: center;
		//background-image: url('./../../../svg/grunge.svg') !important;
	}

}

@include media( '>medium' ) {

	.features-split {

		.section-inner {
			padding-top: $features-split--padding-t__desktop;
			padding-bottom: $features-split--padding-b__desktop;
		}

		.section-header {
			padding-bottom: $features-split-header--padding__desktop;
		}
	}
}
