.hero {

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

.centered-header {
	position: absolute;
	top: 15%;
	left: 40%;
	font-family: Lucida Handwriting;
}

.header-section {
	position: relative;
	text-align: center;
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}

	.centered-header {
		position: absolute;
		top: 5%;
		left: 0;
		font-family: Lucida Handwriting;
	}
	
	.header-section {
		position: relative;
		text-align: center;
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}

	.centered-header {
		position: absolute;
		top: 10%;
		left: 40%;
		font-family: Lucida Handwriting;
	}
	
	.header-section {
		position: relative;
		text-align: center;
	}
}
